
html{
    background-color: aliceblue;
}
body{
    background-color: lightyellow;
    border: 5px solid black;
    margin: 10px;
}
h1{
    text-align: center;
}
div{
    padding: 10px;
    display: flex;
    justify-content: center;
}
.biography{
    color: brown;
}
img{
    height: 300px;
    width: auto;
    padding: 10px;
}
iframe,
img {
    display: inline;
    margin-left: 130px;

}
.navigation{
    list-style: none;
    display: flex;
    flex-flow: row-reverse nowrap;
    background-color: lightpink;
    padding: 20px;
    gap: 20px;
}
.navigation a {
    text-decoration: none;
    padding: 1em;
}
.navigation a:hover{
    background-color: rgb(240, 135, 151);
}
