/* margin can center content using settings below. padding seperates content from each other, border can add a border around content*/
body{
    background-color: lightgoldenrodyellow;
    width: auto;
    margin: 0 auto;
    border: 5px solid black;
    
}

html{
    background-color: aliceblue;
}
/* asterick is a universal selector*/
* {
    padding: 10px;
    margin: 0px;
    box-sizing: border-box;
    text-align: center;
}
/*padding, margin, border can position the text on a page using box model*/
button:hover{
    color: black;
    background-color: orange;
    border: 1px solid black;
    margin: auto;
    padding: 0 auto;
}
h1{
    color: grey;
    text-shadow: 3px 3px 1px black;
    margin: 0 auto;
    padding: 50px;

}
h4{
    font-size: 20px;

}
.one{
    color: red;
}
.one,
.two {
    font-size: 30px;
}
.two{
    color: blue;
}
/*display inline causes text/content to appear side-by-side*/
.list{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: green;
    display: flex;
    list-style: none;
    justify-content: center;
}
h5{
    font-size: 20px;
    
}
.highlight{
    background-color: yellow;
    opacity: 0.6;
}
.navigation{
    list-style: none;
    display: flex;
    flex-flow: row-reverse nowrap;
    background-color: lightpink;
    margin: -10px;
}
.navigation a {
    text-decoration: none;
    padding: 1em;
}
.navigation a:hover{
    background-color: rgb(240, 135, 151);
}
