/* margin can center content using settings below. padding seperates content from each other, border can add a border around content*/
body{
    background-color: lightgoldenrodyellow;
    width: 600px;
    margin: 0 auto;
    border: 5px solid black;
    
}

html{
    background-color: aliceblue;
}
/* asterick is a universal selector*/
* {
    padding: 10px;
    margin: 0px;
    box-sizing: border-box;
    text-align: center;
}
/*padding, margin, border can position the text on a page using box model*/
button:hover{
    color: black;
    background-color: orange;
    border: 1px solid black;
}
h1{
    text-align: center;
    color: grey;
    text-shadow: 3px 3px 1px black;

}
h4{
    font-size: 20px;
    text-align: center;

}
.one{
    color: red;
}
.one,
.two {
    font-size: 30px;
}
.two{
    color: blue;
}
img {
    display: inline;
}
/*display inline causes text/content to appear side-by-side*/
ul li {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: green;
    display: inline;
}
h5{
    font-size: 20px;
    
}
.highlight{
    background-color: yellow;
}